minio:
  url: ${minio_url}
  accessKey: ${minio_access_key}
  secretKey: ${minio_secret_key}

backend:
  url: ${backend_url}
  account:
    email: ${backend_account_email}
    password: ${backend_account_password}
    role: ${backend_account_role}
